@media (orientation: portrait), (min-height: 769px) {
  :root {
    --personal-info-width: 98vw;
    --personal-info-margin: auto;
    --svg-portrait-diameter: calc(98vh / 3);
    --svg-portrait-margin: calc(var(--svg-portrait-diameter) / 10) auto;
    --name-header-width: min-content;
    --name-header-height: calc(var(--svg-portrait-diameter) * 0.7);
    --name-header-margin: auto;
    --name-divs-height: calc(var(--name-header-height) * 0.45);
    --name-header-font-size: calc(var(--name-divs-height) * 0.85);
    --social-info-width: 98vw;
    --social-info-height: 30%;
    --social-info-flex-flow: row wrap;
    --social-info-margin: 1% auto;
    --logo-divs-margin: 0 auto auto;
    --logo-side-length: calc(var(--svg-portrait-diameter) / 3);
  }
}

@media only screen and (orientation: landscape) and (max-height: 768px) {
  :root {
    --personal-info-width: 98vw;
    --personal-info-margin: auto;
    --svg-portrait-diameter: calc(100vh / 2);
    --svg-portrait-margin: auto calc(var(--svg-portrait-diameter) / 10);
    --name-header-width: calc((((98vw - var(--svg-portrait-diameter)) - (var(--svg-portrait-diameter)) / 10)) / 2);
    --name-header-height: var(--svg-portrait-diameter);
    --name-header-margin: auto;
    --name-divs-height: calc(var(--name-header-height) * 0.45);
    --name-header-font-size: calc(var(--name-divs-height) * 0.85);
    --social-info-width: var(--name-header-width);
    --social-info-height: 100%;
    --social-info-flex-flow: row wrap;
    --social-info-margin: auto;
    --logo-divs-margin: auto;
    --logo-side-length: calc(var(--svg-portrait-diameter) / 3);
  }

  #personal-info {
    flex-flow: row nowrap;
  }
}

@media only screen and (orientation: landscape) and (min-height: 769px) and (min-width: 1025px) {
  :root {
    --personal-info-width: 40vw;
    --personal-info-margin: auto auto auto 5%;
    --social-info-width: 40vw;
    --logo-side-length: calc(var(--svg-portrait-diameter) / 3);
  }
}
